section.centeredPanel {
	clear: both;
	display: block;
	width: 80%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin-left: 60px;
	margin-top: 60px;
}

#stridrName {
	display: flex;
	align-content: center;
}

#featuresInDevelopment li{
	margin-left: 1em;
}